<h1 class="my-3 text-primary" >Cadastrar Produto</h1>

<div class="card shadow" >
    <form class="m-3">
        <div class="row">
            <div class="col-md-12" >
                <div class="form-group">
                    <label class="nome">Nome do Produto</label>
                    <input name="name" type="text" class="form-control" placeholder="Digite o nome do Produto" [(ngModel)]="produto.name" />
                </div>
            </div>
        </div> <!--fim row nome-->
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="">SKU do Produto</label>
                    <input name="sku" type="number" class="form-control" placeholder="Digite o sku do Produto" [(ngModel)]="produto.sku"/>
                </div>
            </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="preco">Preço</label>
                        <input name="price" type="number" class="form-control" placeholder="0.00" [(ngModel)]="produto.price"/>
                    </div>
                </div>
        </div>
        <div class="row">

            <div style="margin-top: 10px" class="col">
                <button type="submit" class="btn btn-success float-right" (click)="salvarProduto()" >Salvar</button>
            </div>
        </div>

    </form>
</div>
